.dark {
  --info: 0 0% 55%;
  --info-foreground: 0 0% 98%;
  --primary: 212 100% 45%;
  --primary-foreground: 0 0% 98%;
  --success: 144 57% 58%;
  --success-foreground: 0 0% 98%;
  --warning: 42 84% 61%;
  --warning-foreground: 0 0% 98%;
  --danger: 348 100% 61%;
  --danger-foreground: 0 0% 98%;
  --foreground: 0 0% 95%;
  --background: 222.34deg 10.43% 12.27%;
  --background-deep: 220deg 13.06% 9%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --accent: 216 5% 19%;
  --accent-hover: 216 5% 24%;
  --accent-foreground: 0 0% 98%;
  --heavy: 216 5% 24%;
  --heavy-foreground: var(--accent-foreground);
  --border: 240 3.7% 22%;
  --header: 222.34deg 10.43% 12.27%;
  --sidebar: 222.34deg 10.43% 12.27%;
  --radius: 0.5rem;
  --font-size-base: 14px;

  color-scheme: dark;
}
